
    <nav class="main-nav" id="main-nav">
      <img src="assets/shared/logo.svg" alt="logo">
      <div class="wrapper">
        <div class="toggle-items" id="toggle-items">
          <a class="page" href="#">
            <span class="number">00</span> Home </a>
          <a class="page"  href="templates/destination-mars.html">
            <span class="number">01</span> Destination </a>
          <a class="page"  href="templates/crew-commander.html">
            <span class="number">02</span> Crew </a>
          <a  class="page" href="templates/technology-capsule.html">
            <span class="number">03</span> Technology </a>
          <p class="empty-spot">&nbsp</p>
        </div>
  

      </div>
      <div class="burger-nav" id="burger-nav">
       <button class="open"><img src="/starter-code/assets/shared/icon-hamburger.svg" alt=" burger icon"> </button> 
       <button class="close"><img src="/starter-code/assets/shared/icon-close.svg" alt=" burger close" ></button> 
      </div>
    </nav>
    <div  id="my-links">
      <a class="page" href="#">
        <span class="number">00</span> Home </a> <br>
      <a class="page"  href="templates/destination-mars.html">
        <span class="number">01</span> Destination </a><br>
      <a class="page"  href="templates/crew-commander.html">
        <span class="number">02</span> Crew </a><br>
      <a  class="page" href="templates/technology-capsule.html">
        <span class="number">03</span> Technology </a><br>
      <p class="empty-spot">&nbsp</p><br>
    </div>
    <script src="/starter-code/src/js/index.js"></script>
