<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <title>Frontend Mentor | Space tourism website | nav</title>
    <link rel="stylesheet" href="src/css/style.css">
  </head>
  <body>
    <!-- giving it the main looks so that I can populate it in the js later -->
    <!-- addition of  -->
    <nav class="main-nav" id="main-nav">
      <img src="assets/shared/logo.svg" alt="logo">
      <div class="wrapper">
        <div class="toggle-items" id="toggle-items">
          <a class="page" href="#">
            <span class="number">00</span> Home </a>
          <a class="page"  href="templates/destination-mars.html">
            <span class="number">01</span> Destination </a>
          <a class="page"  href="templates/crew-commander.html">
            <span class="number">02</span> Crew </a>
          <a  class="page" href="templates/technology-capsule.html">
            <span class="number">03</span> Technology </a>
          <p class="empty-spot">&nbsp</p>
        </div>
  

      </div>
      <div class="burger-nav" id="burger-nav">
       <button class="open"><img src="/starter-code/assets/shared/icon-hamburger.svg" alt=" burger icon"> </button> 
       <button class="close"><img src="/starter-code/assets/shared/icon-close.svg" alt=" burger close" ></button> 
      </div>
    </nav>
    <div  id="my-links">
      <a class="page" href="#">
        <span class="number">00</span> Home </a> <br>
      <a class="page"  href="templates/destination-mars.html">
        <span class="number">01</span> Destination </a><br>
      <a class="page"  href="templates/crew-commander.html">
        <span class="number">02</span> Crew </a><br>
      <a  class="page" href="templates/technology-capsule.html">
        <span class="number">03</span> Technology </a><br>
      <p class="empty-spot">&nbsp</p><br>
    </div>
    <script src="/starter-code/src/js/index.js"></script>
  </body>
</html>