@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

/* Home page  and other pages  */
body {
  /* Adding cover image */
  background-image: url(/assets/home/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
/* Main nav bar */
.main-nav {
  padding-top: 29px;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f1f8ff;
}
.main-nav img {
  padding-left: 30px;
}

.wrapper {
  width: 45vw;
  height: 6rem;
}

.toggle-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0.7;
  padding: 30px 30px 0;
  /* height: 40px; */
  backdrop-filter: blur(12px);
  overflow-y: hidden;
}

.toggle-items::before {
  content: "";
  position: absolute;
  width: 45rem;
  height: 1px;
  left: -700px;
  right: 0px;
  top: 50px;
  /* z-index: 9999; */
  background-color: rgba(255, 255, 255, 0.324);
}
a {
  text-decoration: none;
  color: #f1f8ff;
}

.toggle-items a {
  cursor: pointer;
  display: inline-block;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: -1px;
  /* padding-right: 50px; */
}
.empty-spot {
  width: 160px;
  height: 100%;
}
.toggle-items a span {
  padding-right: 7px;
  font-size: 18px;
  font-weight: 500;
}
.toggle-items a:hover {
  border-bottom: 2px solid white;
}
.container {
  width: 80vw;
  margin: 0 auto;
  /* height: 100%; */
}
.row {
  height: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.col:first-of-type {
  width: 50%;
  color: white;
  line-height: 1.5;
}
.top-speach,
.col h1 {
  text-transform: uppercase;
}
.top-speach {
  word-spacing: 5px;
  letter-spacing: 1px;
  font-size: 22px;
}
.col h1 {
  font-size: 100px !important;
  width: 100%;
  letter-spacing: 25px;
  white-space: normal;
  font-weight: 400;
}
.col:first-of-type p {
  width: 64%;
  text-overflow: ellipsis;
  text-align: justify;
  margin-top: 25px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 1px;
}
.col:nth-child(2) {
  /* color: white; */
  width: 15rem;
  height: 15rem;
  text-align: center;
  /* vertical-align: middle; */
  border-radius: 50%;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col:nth-child(2) a {
  color: black;
  text-transform: uppercase;
  font-size: 30px;
}
/* Media Query */